.container {
display: grid;
padding: 0;
grid-template-columns: repeat(30, 1fr);
grid-template-rows: repeat(30, 1fr);
gap: 2px;
margin: none;
   
}

.boxes {
background-color: black;
}


.boxes:hover {
    background-color: rgb(194, 243, 250);
    }