.container {
display: grid;
padding: 0;
/*:root{
--custom-grid-size: repeat (10, 1fr);
}*/

gap: 2px;
margin: 0;
   
}

.boxes {
background-color: black;
}


.boxes:hover {
    background-color: rgb(194, 243, 250);
    }